@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.main {
    background-image: url("assets/images/bg.jpg");
    height: 644px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.71;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 60vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav img {
    width: 130px;
    position: relative;
    z-index: 10;
    color: red;
}

nav button {
    position: relative;
    z-index: 10;
    font-size: 25px;
}

.hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 23px;
    padding: 0 30px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

body {
    background-color: black;
}

.seperation {
    height: 7px;
    background-color: rgba(46, 44, 44, 0.147);
    position: relative;
    z-index: 20;
}

.btn {
    /*changed by myself*/
    padding: 5px 35px;
    font-weight: 100;
    background-color: rgba(248, 243, 243, 0.062);
    color: white;
    font-size: large;
    border-radius: 6px;
    border: 1px solid white;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    color: white;
    padding: 16px 35px;
    font-size: 20px;
    border-radius: 4px;
    border: 1px solid red;
    font-weight: bolder;
}

.btn-red-sm {
    color: white;
    background-color: rgb(229, 25, 25);
    padding: 8px 14px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid black;

}

.main input {
    /*changed by myself*/
    padding: 20px 85px;
    font-size: 16px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    font-weight: 600;
    border: 1px solid rgba(246, 238, 238, 0.5);
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
    justify-content: center;
}

.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}

section.first>div {
    display: flex;
    flex-direction: column;
    padding: 34px 0;
}

section.first>div :nth-child(1) {
    font-size: 48px;
    font-weight: bolder;
}

section.first>div:nth-child(2) {
    font-size: 24px;
}

.faq h2 {
    text-align: center;
    font-size: 48px;
}

.faq {
    background: black;
    color: white;
    padding: 34px;
}

.faqbox:hover {
    background-color: #414141;
    color: white;
}

.faqbox svg {
    filter: invert(1);
}

.faqbox {
    display: flex;
    background-color: #2d2d2d;
    padding: 24px;
    margin: 34px auto;
    max-width: 60vw;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
    transition: all 1s ease-out;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;
}

.footer-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

footer {
    color: white;
    margin: auto;
    max-width: 60vw;
    padding: 60px;
}

.footer a {
    color: white;
    font-size: 14px;
}

footer .questions {
    padding: 34px 0;
}

@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }

    .first {
        flex-wrap: wrap;
    }

    .secImg img {
        width: 305px;
        position: relative;
        z-index: 10;
    }

    .secImg video {
        width: 305px;

    }

    .hero> :nth-child(1) {
        font-size: 32px;
    }

    .hero> :nth-child(2) {
        font-size: 18px;
    }

    .hero> :nth-child(3) {
        font-size: 18px;
    }

    .hero-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        flex-direction: column;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }

    .footer-item {
        align-items: center;
    }
}

@media screen and (max-width: 1300px) {

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
    }

    .footer a {
        font-size: 14px;
        color: white;
    }

    .footer-item {
        display: flex;
        flex-direction: column;
        gap: 23px;
    }
}